<div class="app-lib-app-qv-card app-lib-grid-item">
	<noscript>
		<f:if condition="{product.linkToPage}"><a href="{f:uri.typolink(parameter: product.linkToPage)}"></a></f:if>
	</noscript>
	<div class="app-lib-app-qv-card-content">
		<!-- Cover Icon -->
		<div class="app-lib-app-qv-cover">
            <div class="app-lib-app-qv-card-overlay {f:if(condition: iterator.isEven, then: 'even', else: 'odd')}" style="{inlineStlye}">
                <f:if condition="{product.linkToPage}"><a class="app-lib-overlay-card-link" href="{f:uri.typolink(parameter: product.linkToPage)}">{product.title}</a></f:if>
                <h5>{product.title}</h5>
                <small>
                    <p>
                        <f:format.crop maxCharacters="95" respectWordBoundaries="false" respectHtml="true" append="…">
                            <f:format.stripTags>{product.teaser}</f:format.stripTags>
                        </f:format.crop>
                    </p>
                </small>
                <p>
                    <f:if condition="{product.linkToPage}">
                        <f:link.typolink parameter="{product.linkToPage}"><strong><span class="fa fa-caret-right fa-lg"></span> <f:translate id="views.list.detailLinkTitle" extensionName="app_library" /></strong></f:link.typolink>
                    </f:if>
                </p>
            </div>
			<div class="app-lib-app-qv-cover-outer-align">
				<div class="app-lib-app-qv-cover-inner-align">
					<f:if condition="{product.image}">
						<f:image src="{product.image.uid}" width="128m" height="128m" class="hidden-xs" treatIdAsReference="1" />
						<f:image src="{product.image.uid}" width="96m" height="96m" class="visible-xs-inline" treatIdAsReference="1" />
					</f:if>
				</div>
			</div>
		</div>
		<!-- App Info: Title & Developer -->
		<div class="app-lib-app-qv-details">
            <span class="paragraph-end"></span>
			<f:if condition="{product.linkToPage}">
				<f:then><h5><a href="{f:uri.typolink(parameter: product.linkToPage)}">{product.title}</a></h5></f:then>
				<f:else><h5>{product.title}</h5></f:else>
			</f:if>
            <noscript>
                <f:if condition="{product.linkToPage}">
                    <f:then>
                        <small><a class="text-primary" href="{f:uri.typolink(parameter: product.linkToPage)}">Click for details</a></small>
                    </f:then>
                    <f:else>
                        <br>
                    </f:else>
                </f:if>
            </noscript>
		</div>
	</div>
</div>
