img.flag-shadow {
	box-shadow: 0 0 1px #808080;
}
.nowrap {
	white-space: nowrap
}
#product-select select {
    font-size: 1em;
    color: #777;
}
.tx-ecom-product-tools select.form-control {
	margin-right: 5px;
	min-width: 200px;
}
.tx-ecom-product-tools #checkbox-discontinued {
	display: block;
	margin: 20px 0;
}
.tx-ecom-product-tools #checkbox-discontinued.disabled {
	filter: alpha(opactiy=40);
	opacity: .4
}
.tx-ecom-product-tools #checkbox-discontinued label {
    padding-left: 20px;
}
.tx-ecom-product-tools #checkbox-discontinued input {
    position: absolute;
    margin-left: -20px;
}
.tx-ecom-product-tools #ecom-product-tools-ajax-indicator {
	display: none
}
.tx-ecom-product-tools #product-data a.panel-title {
    background: #EEE;
    padding: 13px 15px;
    border-left: 3px solid #0083cb;
}
.tx-ecom-product-tools #product-data a.panel-title:hover {
    background: #f1f1f1 !important;
}
.tx-ecom-product-tools #product-data a.panel-title.collapsed {
    background: white;
    border-left: 3px solid #DDD;
}
.tx-ecom-product-tools #product-data .panel-default {
    border: 0;
    border-bottom: 1px solid #ddd;
}
.tx-ecom-product-tools .panel-group .panel+.panel {
	margin-top: 0
}
.tx-ecom-product-tools .panel .table {
    margin-bottom: 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #ddd;
}
.tx-ecom-product-tools .product-tools-count-files {
    line-height: 17px;
    margin-right: 25px;
    color: #BBB;
}
.tx-ecom-product-tools .panel .table-responsive {
    border: none;
    margin: 0;
}
.tx-ecom-product-tools .panel .table thead {
	color: gray;
	font-size: 12px;
	font-weight: bold
}
.tx-ecom-product-tools .panel .table .language-information {
	color: #a3a7a9;
	font-size: .8em;
	padding: 16px 8px 8px
}
.tx-ecom-product-tools .panel .table .ecomproducttools-file-title {
	color: #393f43
}
.tx-ecom-product-tools .panel .table small.file-info {
	color: #797f83;
	font-size: 11px
}
.tx-ecom-product-tools .panel .table td {
	vertical-align: middle
}
.tx-ecom-product-tools .align-vertical-bottom {
	vertical-align: bottom
}
.tx-ecom-product-tools .align-vertical-middle {
	vertical-align: middle
}
.tx-ecom-product-tools .align-vertical-top {
	vertical-align: top
}
.tx-ecom-product-tools.markup #approval-list {
	border: 1px solid #d5d7d8;
	width: 100%;
}
.tx-ecom-product-tools.markup #approval-list .zone-wrap {
	border-right: 1px solid #d5d7d8;
	float: left;
	width: 25%
}
.tx-ecom-product-tools.markup #approval-list .zone-wrap .zone,
.tx-ecom-product-tools.markup #approval-list .zone-wrap .division {
	background: #0083cb;
	color: #fff;
	height: 34px;
	line-height: 24px;
	margin: 1px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase
}
.tx-ecom-product-tools.markup #approval-list .approval-wrap {
	float: left;
	height: 70px;
	width: 75%;
	overflow:hidden;
}
#approval-list .approval-wrap #tx-ecom-product-tools-carousel {
    padding: 0 27px
}
.tx-ecom-product-tools.markup #approval-list .approval-wrap #tx-ecom-product-tools-carousel.fit {
    padding: 0
}
.tx-ecom-product-tools.markup #approval-list .approval-wrap .owl-controls .owl-nav div {
    border-right: 1px solid #d5d7d8;
    color: #fff;
    display: block;
    float: left;
    font-size: 0;
    height: 69px;
    position: absolute;
    top: 1px;
    width: 27px;
    cursor: pointer
}
.tx-ecom-product-tools.markup #approval-list .approval-wrap .owl-carousel .owl-item img {
    display: inline;
    width: auto
}
.tx-ecom-product-tools.markup #approval-list .approval-wrap .owl-controls .owl-nav div.owl-next {
    background: url(../Images/markup-next.png) center center no-repeat #0083cb;
    right: 0
}
.tx-ecom-product-tools.markup #approval-list .approval-wrap .owl-controls .owl-nav div.owl-prev {
    background: url(../Images/markup-prev.png) center center no-repeat #0083cb;
    left: 0
}
.tx-ecom-product-tools.markup #approval-list .approval-wrap #tx-ecom-product-tools-carousel .item {
    border-right: 1px solid #d5d7d8;
    color: #7c7c80;
    cursor: pointer;
    display: block;
    float: none;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 5px;
    text-align: center;
    width: auto
}
.tx-ecom-product-tools.certifications .approval {
	margin-bottom: 50px
}
.tx-ecom-product-tools.certifications .approval .image img {
	height: auto;
	width: 100%
}
.tx-ecom-product-tools.certifications .approval ul.list {
	margin-bottom: 12px
}
.tx-ecom-product-tools.certifications .approval label {
	color: #000;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 10px
}
.tx-ecom-product-tools.certifications .dropdown-menu li {
	padding-right: 30px
}
.tx-ecom-product-tools.certifications .dropdown-menu li:hover,
.tx-ecom-product-tools.certifications .dropdown-menu li:focus {
	background-color: #f1f1f1 !important
}
.tx-ecom-product-tools.certifications .dropdown-menu li a {
	background: 0;
	padding: 5px 10px
}
.tx-ecom-product-tools.certifications .dropdown-menu li a:hover,
.tx-ecom-product-tools.certifications .dropdown-menu li a:focus {
	color: #0083cb
}

/**
    Article No List - Mini Gallery - One-Pager
*/
.miniGallery .tx-product-article-no-list {
    background: #eee;
    padding: 10px;
    font-size: 0.85em;
    margin-top: 20px;
}
.miniGallery .tx-product-article-no-list > span {
    letter-spacing: 1px;
    color: #999;
}
.miniGallery .tx-product-article-no-list > span.hasTitle:hover {
    cursor: help;
    color: #666;
}