.paragraph-end {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
    z-index: 2;
    display: block;
    position: absolute;
    right: 0;
    top: -3px;
    bottom: -3px;
    width: 40%;
}

.software-center-be-info-labels {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 8;
}
.software-center-be-info-labels span.label {
    margin-top: 5px;
    font-size: 0.8em;
    padding: 2px 5px;
    float: left;
    clear: both;
}
.software-center-download-btn {
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: #0083cb;
    color: white;
    font-size: 1.2em;
    padding: 12px 17px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transition: background 0.15s ease;
    -ms-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
    transition: background 0.15s ease;
}
.software-center-download-btn:hover,
.software-center-download-btn:focus,
.software-center-download-btn:active {
    background: #0099f1;
    color: white;
}

/**
    PRODUCT GRID
    ===============
*/
.software-center-product-grid {
    overflow: visible;
}
.software-center-grid-item-link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: -1px;
    top: 0;
    z-index: 5;
    outline: none !important;
}
.software-center-grid-item-cover .software-center-grid-item-link {
    -moz-transition: background 0.15s ease-in-out;
    -webkit-transition: background 0.15s ease-in-out;
    -ms-transition: background 0.15s ease-in-out;
    -o-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;

}
.software-center-grid-item-cover .software-center-grid-item-link:hover {
    background: transparent;
    background: rgba(0,0,0,0.2);
    filter: alpha(opacity=20);
    zoom: 1;
}
.software-center-product-grid .software-center-grid-item {
    background: #fff;
    float: left;
    width: 160px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 2px 4px #d4d4d4;
    -o-box-shadow: 0 2px 4px #d4d4d4;
    -moz-box-shadow: 0 2px 4px #d4d4d4;
    box-shadow: 0 2px 4px #d4d4d4;
    border-radius: 2px
}
.software-center-product-grid .software-center-grid-item {
    width: 15.5%;
    margin: 0 1% 1.5em 0;
}
.software-center-product-grid .software-center-grid-item:nth-child(6n+1) {
    clear: left;
}

.software-center-grid-item-cover {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    height: 160px;
}

.software-center-grid-item-cover-inner {
    height: 100%;
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
}

.software-center-grid-item-details {
    padding-left: 10px;
    position: relative;
    margin-top: 3px;
    z-index: 10;
}

.software-center-grid-item-details header {
    position: relative;
}

.software-center-grid-item-details h5 {
    color: #777;
    line-height: 1.2;
    position: relative;
    white-space: nowrap;
    text-transform: none;
    font-size: 15px;
}

.software-center-grid-item-details h4 {
    font-weight: 300;
}
.software-center-grid-item-details h5 > a:hover {
    text-decoration: underline;
}
.software-center-grid-item-details h5 > a {
    color: #555;
}

/**
    SOFTWARE CENTER DETAIL VIEW
    ============================
*/
.tx-ecom-product-tools.softwarecenter-show h1 {
    font-weight: 300;
    font-size: 2.2em;
    color: #212121;
    padding-top: 5px;
}
.tx-ecom-product-tools.softwarecenter-show h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 0.8em;
    color: black
}
.software-center-detail-section {
    background: #fff;
    border: 1px solid #DDD;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 6px #EEE;
    -moz-box-shadow: 0 0 6px #EEE;
    box-shadow: 0 0 6px #EEE;
    padding: 20px;
    margin-bottom: 2em;
}

/** Head */
.software-center-detail-head-logo {
    margin-right: 30px;
}
.app-lib-detail-head-info a,
.app-lib-detail-sidebar .software-center-detail-section a {
    color: inherit;
}
.software-center-detail-head-info a:hover,
.software-center-detail-head-info a:focus,
.software-center-detail-head-info a:active,
.software-center-detail-sidebar .software-center-detail-section a:hover,
.software-center-detail-sidebar .software-center-detail-section a:focus,
.software-center-detail-sidebar .software-center-detail-section a:active {
    text-decoration: underline;
    color: #444;
}
.software-center-detail-teaser {
    margin-top: 1em;
}

/** Sidebar */
.software-center-detail-sidebar h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.software-center-detail-sidebar .software-center-detail-section ul.list {
    margin-top: 0.5em;
    margin-bottom: 0;
}
.software-center-detail-sidebar .software-center-detail-section ul.list li {
    padding-bottom: 0;
}
.software-center-detail-sidebar .software-center-download-btn {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}
.software-center-detail-sidebar .news-blogpost-button {
    margin-top: 0;
    background: #AAA;
}

/** Downloads **/
.software-center-files table {
    width: 100%;
}
.software-center-files table tbody {
    border: none;
}
.software-center-files .table > thead > tr > th {
    border: none;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}
.software-center-files table tbody tr,
.software-center-files table tbody tr td {
    border: none;
}
.software-center-files table tbody tr {
    border-bottom: 1px dashed #ddd;
}
.software-center-files table tbody tr:last-child {
    border: none;
}
.software-center-files table tbody tr.table-category-head {
    border: none;
}
.software-center-files table tbody tr.table-category-head td {
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    color: #0083cb;
}
.software-center-files table tr td,
.software-center-files table tr th {
    width: auto;
    padding: 8px 5px;
}
.software-center-files table tr td.software-center-files-main-column {
    max-width: 300px;
}
.software-center-files table .media-body {
    width: auto;
}
.software-center-files .software-center-files-description {
    margin-top: 5px;
    color: #999999;
}
tr.software-center-file-disabled-admin {

}

/**
 * Responsive styles
 */
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}

/* Medium (medium desktops, 1199 and down) */
@media screen and (max-width: 1199px) {
    .software-center-product-grid .software-center-grid-item {
        width: 19%;
    }
    .software-center-product-grid .software-center-grid-item:nth-child(6n+1) {
        clear: unset;
    }
    .software-center-product-grid .software-center-grid-item:nth-child(5n+1) {
        clear: left;
    }
}

/** Visible Small and Down **/
@media  (max-width: 991px) {
    .software-center-product-grid .software-center-grid-item {
        width: 24%;
        margin: 0 1% 1.5em 0;
    }
    .software-center-product-grid .software-center-grid-item:nth-child(4n+1) {
        clear: left;
    }
    .software-center-product-grid .software-center-grid-item:nth-child(5n+1) {
        clear: unset;
    }
}

/** Visible XtraSmall and down */
@media  (max-width: 767px) {
    .software-center-product-grid .software-center-grid-item {
        width: 32%;
        margin: 0 1% 1.5em 0;
    }
    .software-center-product-grid .software-center-grid-item:nth-child(4n+1) {
        clear: unset;
    }
    .software-center-product-grid .software-center-grid-item:nth-child(3n+1) {
        clear: left;
    }
}

@media (max-width: 460px) {
    .software-center-product-grid .software-center-grid-item {
        width: 49%;
    }
    .software-center-product-grid .software-center-grid-item:nth-child(3n+1) {
        clear: unset;
    }
    .software-center-product-grid .software-center-grid-item:nth-child(2n+1) {
        clear: left;
    }
}