<div class="software-center-detail-section">
    <h3><f:translate key="LLL:EXT:lang/locallang_mod_help.xlf:mlang_labels_tablabel" /></h3>
    For all software related questions please contact:
    <ul class="list">
        <li>Your <f:link.page pageUid="{settings.ecomLocationsPid}" target="_blank">local sales representative</f:link.page> or</li>
        <li>Our <f:link.page pageUid="{settings.technicalSupportPid}" target="_blank">support team</f:link.page></li>
    </ul>
</div>

<f:link.page class="software-center-download-btn" target="_blank" pageUid="{product.linkToPage}"><span class="fa space-right fa-chevron-right"></span> <f:translate key="LLL:fileadmin/templates/translations/locallang.xlf:followproduct.button.label" /></f:link.page>
<f:link.page class="software-center-download-btn" target="_blank" pageUid="{settings.downloadcenterPid}" additionalParams="{product: product.uid}"><span class="fa space-right fa-download"></span> Download Center</f:link.page>
<f:link.action action="list" class="news-blogpost-button"><i class="fa fa-angle-left space-right"></i> <f:translate id="LLL:fileadmin/templates/translations/locallang.xlf:backlink" /></f:link.action>